@font-face {
	font-family: "Flaticon";
	src: url("../fonts/customicon.eot");
	src: url("../fonts/customicon.eot#iefix") format("embedded-opentype"),
	url("../fonts/customicon.woff") format("woff"),
	url("../fonts/customicon.ttf") format("truetype"),
	url("../fonts/customicon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
font-style: normal;
}.flaticon-space:before {
	content: "\20";
}
.flaticon-uniE600:before {
	content: "\e600";
}
.flaticon-uniE601:before {
	content: "\e601";
}
.flaticon-uniE602:before {
	content: "\e602";
}
.flaticon-uniE603:before {
	content: "\e603";
}
.flaticon-uniE604:before {
	content: "\e604";
}
.flaticon-uniE605:before {
	content: "\e605";
}
.flaticon-uniE606:before {
	content: "\e606";
}
.flaticon-uniE607:before {
	content: "\e607";
}
